
<div class="kk" *ngFor="let i of ser.arrrecipes">
    <div class="container mx-auto mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="http://localhost:1234/images/{{i.pic}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{i.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">level: {{i.level}} </h6>
                        <p class="card-text">{{i.des}}</p>
                        
<button (click)="datiels(i)" appShowtxt="click me!!">
    <h4>פרטים נוספים</h4>
</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






